* {
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    background: #00000087;
    width: 100%;
}

.main {
    margin-top: 400px;
    margin-bottom: 200px;
    height: 550px;
    width: 530px;
    position: relative;
    box-sizing: border-box;
    animation: fade 5s linear;
    box-shadow: 0 0 10px 5px #00ffe1e6;
    background: #ff650075;
    z-index: -10;
    animation: color 10s linear infinite;
}

@keyframes color {
    0% {
        background: #fd00da;
    }
    25% {
        background: #1665aa;
    }
    50% {
        background: #00ff18;
    }
    75% {
        background: #f7ff00;
    }
    100% {
        background: #ff00c4;
    }
}

.main .inner-width {
    border: 2px solid;
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: inset 0 0 20px 10px #1c1c1cab, 0px 1px 10px 2px #ff0000e6;
    border-radius: 150px;
    position: absolute;
    margin: 115px;
}

.main .left-cap {
    position: absolute;
    height: 39px;
    width: 102px;
    border: 1px solid;
    border-radius: 60px 60px 0 0;
    z-index: -1;
    margin: 75px 322px;
    transform: rotate(30deg);
    background-color: #caccce;
    box-shadow: 0 0 10px 1px #ff0000, inset 0 0 10px 5px #fff;
}

.main .left-hand {
    position: absolute;
    height: 66px;
    width: 27px;
    border: 1px solid;
    border-radius: 5px;
    z-index: -2;
    margin: 97px 338px;
    transform: rotate(30deg);
    background-color: #caccce;
    box-shadow: 0 0 10px 1px #f00;
}

.main .right-hand {
    position: absolute;
    height: 66px;
    width: 27px;
    border: 1px solid;
    border-radius: 5px;
    z-index: -2;
    margin: 104px 171px;
    transform: rotate(-30deg);
    background-color: #caccce;
    box-shadow: 0 0 10px 1px #f00;
}

.main .right-cap {
    position: absolute;
    height: 39px;
    width: 102px;
    border: 1px solid;
    border-radius: 60px 60px 0 0;
    z-index: -1;
    margin: 75px 108px;
    transform: rotate(-30deg);
    background-color: #caccce;
    box-shadow: 0 0 10px 1px #f00, inset 0 0 10px 5px #fff;
}

.main .stand-left {
    position: absolute;
    height: 100px;
    width: 44px;
    border: 1px solid;
    border-radius: 5px;
    z-index: -1;
    margin: 383px 147px;
    transform: rotate(30deg);
    background-color: #caccce;
    box-shadow: 0 0 10px 1px #f00;
}

.main .stand-right {
    position: absolute;
    height: 105px;
    width: 44px;
    border: 1px solid;
    border-radius: 10px;
    z-index: -10;
    margin: 385px 336px;
    transform: rotate(-30deg);
    background-color: #caccce;
    box-shadow: 0 0 10px 1px #f00;
}

.main .stand {
    position: absolute;
    height: 339px;
    width: 43px;
    border: 1px solid;
    border-radius: 0 200px 200px 0;
    z-index: 0;
    margin: 318px 242px;
    transform: rotateZ(90deg);
    background-color: #caccce;
    box-shadow: 3px 0px 10px 1px #f00;
}

.main .text {
    position: absolute;
    margin: 337px 192px;
    word-spacing: 2px;
    width: 150px;
    z-index: 1;
    opacity: .8;
    font-size: 25px;
    text-align: center;
}

.number,
.text {
    font-weight: 1000;
    font-size: 25px;
}

.one {
    margin: 25px 210px;
    position: absolute;
}

.two {
    margin: 70px 260px;
    position: absolute;
}

.three {
    margin: 140px 280px;
    position: absolute;
}

.four {
    margin: 205px 257px;
    position: absolute;
}

.five {
    margin: 250px 208px;
    position: absolute;
}

.six {
    margin: 270px 146px;
    position: absolute;
}

.sev {
    margin: 251px 79px;
    position: absolute;
}

.eig {
    margin: 209px 35px;
    position: absolute;
}

.nine {
    margin: 140px 8px;
    position: absolute;
}

.ten {
    margin: 79px 28px;
    position: absolute;
}

.ele {
    margin: 28px 70px;
    position: absolute;
}

.tw {
    margin: 5px 134px;
    position: absolute;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: red;
    position: absolute;
    margin: 140px 137px;
    z-index: 6;
}

.hour {
    height: 90px;
    width: 10px;
    border-radius: 5px;
    background: blue;
    margin: 79px 142px;
    position: absolute;
    transform-origin: 50% 80%;
    z-index: 2;
}

.minute {
    height: 110px;
    width: 8px;
    background: green;
    border-radius: 4px;
    margin: 63px 143px;
    position: absolute;
    transform-origin: 50% 80%;
    z-index: 3;
}

.second {
    height: 120px;
    width: 4px;
    background: red;
    border-radius: 3px;
    margin: 55px 145px;
    position: absolute;
    transform-origin: 50% 80%;
    z-index: 4;
}

.copyright {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: white;
    padding: 10px;
}